<% if @book.persisted? %>
  <!DOCTYPE html>
  <html>
    <head>
      <title>AskMyBook - Rails - AI Trainer</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=REM:wght@300;500&family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>

    <body>
        <%= content_tag :div,
          id: "root",
          'data-props': '{' +
            '"screen": "ask",' +
            '"book": ' + @book.to_json + ', ' +
            '"answer": ' + @answer.to_json + ', ' +
            '"authenticityToken": ' + form_authenticity_token.to_json + 
          '}' do %>
        <% end %>
    </body>
  </html>
<% else %>
  <%= render template: 'train_ai/show' %>
<% end %>
  